/* HERO MODULE */


.jumbotron {
	background-image: url('../img/hero-bg--desktop.jpg');
	background-size: cover;
}
.jumbotron p{
	font-size: 15pt;
}
.btn--session{
	background-color: #74c1b9;
	color: white;
	padding:5px 30px;
}
.glyphicon-gift{
	margin-right:10px; 
}
.block{
	padding:0px 30px 80px 30px;
}
.block__head{
	font-size:22pt;
	font-weight: 400; 
	color: white;
	padding: 0px 40px;
	text-shadow: 1px 1px 25px black, 0 0 25px black, 0 0 25px black;
}
.block__text{
	color:white;
	text-shadow: 1px 1px 25px black, 0 0 25px black, 0 0 25px black;
}
.block__btn{
	background-color: #d2563a;
	padding: 5px 60px;
	color:white;
	margin-top: 35px;
}

@media only screen and (max-width : 480px) {
	.jumbotron {
	    background-image: url('../img/hero-bg--mobile.jpg');
	    background-size: cover;
    }
    .jumbotron p{
    	font-size: 13pt;
    }
}


/* OPINION MODULE */


.title{
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 15px;
	padding-left: 0px; 
}
.stars{
	border: 1px solid #d7d7d7;
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	padding: 0px;
	margin-bottom: 20px;
}
.title h2{
	font-weight:normal;
}
.average{
	font-size: 26pt;
	font-weight: bold;
}
.stars__average{
	background-color: #f8f8f8;
}
.stars__average, .stars__professionalism, .stars__quality, .stars__recommendation{
	padding: 15px 30px 15px 30px;
}
.professionalism, .quality, .recommendation{
	font-size: 10pt;
}
.total{
	text-align: left;
	padding-left: 25px;
}
.stars__average_star--small{
	margin-top: 20px;
	margin-left: 15px;
}
@media only screen and (max-width : 767px) {
	.total {
	    text-align: center;
	    padding-left: 0px;
    }
    .stars__average_star--small{
     	margin-top: -10px;
	    margin-left: 0px;
}
}
.opinion{
	width:90%;
	padding: 0px;
	margin: 15px 5%;
}
.opinion__photo{
	padding-left: 0px;
}
.opinion__photo > img{
	border-radius: 22px;
}
.opinion__text_date{
	color:grey;
}
.opinion p{
	margin-bottom:3px; 
}
.opinion__text_note{
	padding-bottom: 10px;
}
.opinion__text_comment{
	padding-bottom: 20px;
}


/* BONUS POINT */


.popup-form{
	width: 50px;
	margin-left: 45%;
	padding-bottom: 50px;
}
#test-form{
	background-color: white;
	width: 700px;
	height: 457px;
	margin: auto;
}
.test-form__title{
	background-color: #74c1b9;
	color:white;
}
.test-form__title p{
	margin-bottom: 0px;
	margin-left: 20px;
}
.test-form__title_main{
	font-size: 20pt;
	font-weight: 100;
	margin-top: 20px;
}
.test-form__title_hotel{
	font-size: 22pt;
	font-weight: normal;
}
.test-form__title_description{
	font-weight: 100;
	padding-bottom: 20px;
	font-size: 9pt;
}
.test-form__details, .test-form__textarea, .test-form__bottom{
	background-color: white;
}
#name, #email, #phone, #textarea{
	margin-top: 20px;
}
#email{
	margin-bottom: 20px;
}
textarea.form-control{
	height: 200px;
}
.legal{
	padding-top: 20px;
	background-color: white;
}
.done{
	margin-top: 20px;
	width: 150px;
	background-color: #d4563d;
	color: white;
}
.mfp-close-btn-in .mfp-close{
	color:white;
}
@media only screen and (max-width : 767px) {
	#test-form{
	background-color: white;
	width: 94%;
	margin-left: 3%;
	height: auto;
	margin-top: 15px;
	margin-bottom:15px; 
	}
    .done{
	width: 80%;
	margin-left: 10%;
    }
    .test-form__bottom {
    height: 750px;
}
}
@media only screen and (max-width : 500px) {
    .test-form__bottom {
    height: 800px;
}
}